{% extends "layout.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/create_post.css' %}">
{% endblock %}

{% block content %}
    <h1>Write a post!</h1>

    {% for message in messages %}
    {{ message }}
    {% endfor %}
    
    <div class="div-form">
        <a class="a-go-back" href="{% url 'index' %}">
            <button>
                <img src="{% static 'assets/img/icons/icon_go_back_arrow.png' %}" alt="">
            </button>
        </a>

        <form method="POST" action="create-post">
            {% csrf_token %}
            <input class="input-title" type="text" name="title">
            <textarea class="textarea-content" type="text", name="content"></textarea>
    
            <button type="submit">Post!</button>
        </form>
    </div>

{% endblock %}