{% extends "layout.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <h1>Twitter 2</h1>

    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username}}!</h1>
    {% endif %}

    <a href="{% url 'create_post' %}"><button>Create a Post!</button></a>

    {% for post in posts %}
    
    <div class="post-div">
        <a href="{% url 'post_page' post_id=post.id %}">
        <div class="div-post-user-date">
            {% if post.author.username == None %}
            <p class="p-post-author">Deleted User</p>
            {% else %}
            <p class="p-post-author">{{ post.author.username }}</p>
            {% endif %}
            <p class="p-post-date">{{ post.date }}</p>
        </div>

            <h1 class="h1-post-title">{{ post.title }}</h1>

        <p "p-post-content">{{ post.content|truncatewords:20 }}</p>
        </a>
    </div>
    {% endfor %}
{% endblock %}