{% load static %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<h1>Twitter</h1>

{% if user.is_authenticated %}
<h1>Welcome {{ user.username}}!</h1>
{% endif %}
<a href="{% url 'register' %}"><button>Register</button></a>

{% if user.is_authenticated %}
<a href="{% url 'logout' %}"><button>Logout</button></a>
{% else %}
<a href="{% url 'login' %}"><button>Login</button></a>
{% endif %}

<a href="{% url 'create_post' %}"><button>Post!</button></a>

{% for post in posts %}
<div style="border: solid 1px black;">
    {% if post.author.username == None %}
    <p>Deleted User</p>
    {% else %}
    <p>{{ post.author.username }}</p>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <p>{{ post.content }}</p>
</div>
{% endfor %}