{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/layout.css' %}">
        {% block extrahead %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <div class="div-header">
            <div class="div-header-icon-title">
                <img class="img-icon-twitter" src="{% static 'assets/img/icons/icon_messenger_logo.png' %}" alt="messenger-logo">
                <p class="p-header-title">Messenger</p>
            </div>
            <button class="button-user-profile">
                <img class="img-user-profile" src="{% static 'assets/img/user_default_profile.png' %}" alt="user-default-profile">
            </button>
        </div>

        <div class="div-header-sidebar">
            {% if user.is_authenticated %}
                <a href="{% url 'user_profile' %}"><button>Profile</button></a>
                <a href="{% url 'logout' %}"><button>Logout</button></a>
            {% else %}
                <a href="{% url 'login' %}"><button>Login</button></a>
                <a href="{% url 'register' %}"><button>Register</button></a>
            {% endif%}
                <a href=""><button>Settings</button></a>
                <a href=""><button>Saved</button></a>
                <a href=""><button>Buy Premium</button></a>
        </div>
        {% endblock %}
        
        <div class="div-content">
            {% block content %}
            {% endblock %}

            {% if posts %}
                {% for post in posts %}
                    <div class="post-div">
                        <div class="div-post-user-date">
                            {% if post.author.username == None %}
                                <p class="p-post-author">Deleted User</p>
                            {% else %}
                            <a href="{% url 'user_page' user_id=post.author.id %}">
                                <p class="p-post-author">{{ post.author.username }}</p>
                            </a>
                            {% endif %}
                            <p class="p-post-date">{{ post.date }}</p>
                        </div>
                        
                        <a href="{% url 'post_page' post_id=post.id %}">    
                            <h1 class="h1-post-title">{{ post.title }}</h1>
                            <p "p-post-content">{{ post.content|truncatechars:280 }}</p>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
    <script src="{% static 'js/sidebar_display_toggle.js' %}" defer></script>
</html>