{% extends "layout.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
    <form method="POST" action="login">
        <h1>Login page</h1>

        {% for message in messages %}
            {{ message }}
        {% endfor %}

        {% csrf_token %}
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">

        <button type="submit">Login</button>
    </form>

    <a href="{% url 'index' %}"><button>Cancel</button></a>

{% endblock %}