{% extends "layout.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_page.css' %}">
{% endblock %}

{% block content %}
    <h1>{{ post_title }}</h1>
 
    <div class="post-div">
        <div class="div-post-user-date">
            {% if post.author.username == None %}
                <p class="p-post-author">Deleted User</p>
            {% else %}
                <a href="{% url 'user_page' user_id=post.author.id %}">
                    <p class="p-post-author">{{ post.author.username }}</p>
                </a>
            {% endif %}
            <p class="p-post-date">{{ post.date }}</p>
        </div>

        <a href="{% url 'post_page' post_id=post.id %}">
            <h1 class="h1-post-title">{{ post.title }}</h1>
        </a>

        <p "p-post-content">{{ post.content }}</p>
    </div>

    <a href="{% url 'index' %}"><button>Go back</button></a>
{% endblock %}