{% extends "layout.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block content %}
    <form method='POST' action="register">
        <h1>Register page</h1>

        {% for message in messages %}
        {{ message }}
        {% endfor %}

        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <input type="password" name="password2" placeholder="Repeat password">

        <button type="submit">Register</button>
    </form>

    <a href="{% url 'index' %}"><button>Cancel</button></a>
{% endblock %}