{% load static %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">


<h1>Register page</h1>

{% for message in messages %}
{{ message }}
{% endfor %}

<form method='POST' action="register">
    {% csrf_token %}
    <input type="text" name="username">
    <input type="text" name="email">
    <input type="password" name="password">
    <input type="password" name="password2">

    <button type="submit">Register</button>
</form>

<a href="{% url 'login' %}"><button>Login</button></a>
<a href="{% url 'index' %}"><button>Cancel</button></a>