{% extends "layout.html" %}

{% block extrahead %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/user_page.css' %}">
{% endblock %}

{% block content %}
    <div class="div-user-profile">
        <a class="a-go-back" href="{% url 'index' %}">
            <button>
                <img src="{% static 'assets/img/icons/icon_go_back_arrow.png' %}" alt="">
            </button>
        </a>
        
        <div class="div-user-profile-picture">
            <img src="{% static 'assets/img/user_default_profile.png' %}" alt="User Profile Picture">
        </div>
        <div class="div-user-info">
            {% if user_found == None %}
            <p><strong>Username:</strong> Not Found</p>
            {% else %}
            <p><strong>Username:</strong> {{ user_found.username }}</p>
            {% endif %}
            <p><strong>Email:</strong> {{ user_found.email }}</p>
            {% if post_count != 1 %}
                <p><strong>{{ post_count }} Posts</strong></p>
            {% else %}
                <p><strong>{{ post_count }} Post</strong></p>
            {% endif %}
        </div>
    </div>

    {% if post_count > 0 %}
        <h1>{{ user_found.username }} Posts</h1>
        {% for post in posts %}
            <div class="post-div">
                <a href="{% url 'post_page' post_id=post.id %}">
               
                <div class="div-post-user-date">
                    {% if post.author.username == None %}
                    <p class="p-post-author">Deleted User</p>
                    {% else %}
                    <p class="p-post-author">{{ post.author.username }}</p>
                    {% endif %}
                    <p class="p-post-date">{{ post.date }}</p>
                </div>

                    <h1 class="h1-post-title">{{ post.title }}</h1>

                <p "p-post-content">{{ post.content|truncatewords:20 }}</p>
                </a>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}