/* Títulos centralizados */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Botões estilizados */
button {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #0d8ce3;
}

/* Links que contêm botões */
a {
    text-decoration: none;
}

/* Container dos posts */
.post-div {
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 15px 0;
}

/* Informações do usuário e data */
.div-post-user-date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

/* Estilo do autor e data */
.p-post-author {
    font-weight: bold;
    color: rgb(0, 107, 230)
}

.p-post-date {
    font-style: italic;
}

/* Estilo do título do post */
.h1-post-title {
    font-size: 20px;
    margin: 10px 0;
    color: #222;
}

/* Conteúdo do post */
.p-post-content {
    font-size: 16px;
    color: #444;
}
