/* Títulos centralizados */
h1 {
    text-align: center;
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

.div-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Botões estilizados */
.div-content .button-default {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

.div-content .button-default:hover {
    background-color: #0d8ce3;
}

/* Links que contêm botões */
a {
    text-decoration: none;
}