body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(226, 226, 226);
}

.div-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin: 0;
    z-index: 100;
    
    padding: 0px 20px;
    background-color: rgb(245, 245, 245);
    font-size: 35px;
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 45, 87, 0.32);
}

.div-header a {
    display: flex;
}

.div-header-icon-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    margin: 0;
}

.p-header-title {
    margin: 20px 0;
}

.img-user-profile, .img-icon-twitter {
    margin: 0;
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.img-icon-twitter {
    margin: 0 10px 0 0;
}

.div-content {
    margin-top: 120px;
}

.div-header-sidebar {
    display: none;
    position: fixed;
    top: 85px;
    right: 5px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    width: 220px;
    padding: 5px;

    border: 2px solid rgb(199, 199, 199);
    border-radius: 5px;
}

.div-header-sidebar.active {
    display: flex;
}

.button-user-profile {
    display: flex;
    border: none;
    padding: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
}

.div-header-sidebar button {
    margin: 5px 0;
    width: 100%;
    border: none;
    background-color: transparent;
    text-align: left;
    font-family: Arial;
    color: rgb(75, 75, 75);
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;

}

/* Container dos posts */
.post-div {
    position: relative;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 45, 87, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px 0;
}

.post-div p, .post-div h1 {
    transition: .15s;
}

.p-edited-post {
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 12px;
    color: rgb(124, 124, 124);
    font-family: Arial;
    font-style: italic;
    font-size: 15px;
}

/* Informações do usuário e data */
.div-post-user-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
    border-bottom: 1px solid #ddd;
    padding-bottom: 0px;
}

/* Estilo do autor e data */
.p-post-author {
    font-weight: bold;
    color: rgb(0, 107, 230);
    font-size: 18px;
    margin: 0;
}

.p-post-author:hover {
    color: rgb(175, 219, 255);    
}

.p-post-date {
    font-style: italic;
    margin: 0;
}

/* Estilo do título do post */
.h1-post-title {
    font-size: 20px;
    margin: 10px 0;
    color: #222;
}

/* Conteúdo do post */
.p-post-content {
    font-size: 16px;
    color: #444;
}

.h1-post-title:hover, .p-post-content:hover {
    color: rgb(100, 100, 100);
}

.div-post-date-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    position: relative;
}

.button-dots-menu {
    display: flex;
    background-color: transparent;
    padding: 2px;
    margin: 0;
    margin-bottom: 5px;
    border-radius: 50%;
    border: none;
}

.div-content .button-dots-menu:hover {
    background-color: rgb(245, 245, 245);
}

.img-dots-menu {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-radius: 50%;
}

.div-dots-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: absolute;
    top: 50px;
    right: 5px;
    width: 150px;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(199, 199, 199);
    border-radius: 5px;
}

.div-dots-menu a {
    width: 100%;
    padding: 0;
    margin: 0;
}

.div-dots-menu button {
    background-color: transparent;
    border: none;
    font-size: 15px;
    width: 100%;
    text-align: left;
    padding: 5px;
    cursor: pointer;
}

.div-dots-menu.active {
    display: flex;
}