/* Títulos centralizados */
h1 {
    text-align: center;
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: black;
}

.div-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/* Botões estilizados */
.div-content .button_default {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    margin: 5px;
}

.div-content .button_default:hover {
    background-color: #0d8ce3;
}

/* Links que contêm botões */
a {
    text-decoration: none;
}

/* User Profile Container */
.div-user-profile {
    position: relative;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #fff;
    padding: 20px 80px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 500px;
    margin: 20px auto;
    margin-bottom: 60px;
}

.div-user-profile p {
    margin: 10px 0;
}

/* User Info (Esquerda) */
.div-user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Negrito nas legendas */
.div-user-info p strong {
    font-weight: bold;
}

/* Profile Picture (Direita) */
.div-user-profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #eeeeee;
    flex-shrink: 0; /* Evita que a imagem diminua */
    margin: 0 40px 0 0;
}

.div-user-profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Button */
.div-user-info button {
    background-color: #1DA1F2;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px 0 0 0;
}

.div-user-info button:hover {
    background-color: #0d95e8;
}

.a-go-back {
    margin: 0;
    padding: 0;
}

.a-go-back button {
    display: flex;
    position: absolute;
    top: 20px;
    left: 20px;
    margin: 0;
    padding: 5px;
    border-radius: 50%;
    background-color: #1DA1F2;
    border: none;
    cursor: pointer;
}

.a-go-back button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}